<div class="panel panel-default">
<div class="panel-body">

<%= form_with(model: liquidacion, local: true) do |form| %>
  <% if liquidacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(liquidacion.errors.count, "error") %> prohibited this liquidacion from being saved:</h2>

      <ul>
      <% liquidacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha_ini %>
    <%= form.date_select :fecha_ini %>
  </div>

  <div class="field">
    <%= form.label :fecha_fin %>
    <%= form.date_select :fecha_fin %>
  </div>

  <div class="field">
    <%= form.label :cargo %>
    <%= form.text_area :cargo %>
  </div>

  <div class="field">
    <%= form.label :contrato %>
    <%= form.text_area :contrato %>
  </div>

  <div class="field">
    <%= form.label :termina %>
    <%= form.text_area :termina %>
  </div>

  <div class="field">
    <%= form.label :salario %>
    <%= form.text_field :salario %>
  </div>


  <div class="field">
    <%= form.label :sueldo_promedio %>
    <%= form.text_field :sueldo_promedio %>
  </div>

  <div class="field">
    <%= form.label :vacaciones %>
    <%= form.text_field :vacaciones %>
  </div>

  <div class="field">
    <%= form.label :indemniza_art65 %>
    <%= form.text_field :indemniza_art65 %>
  </div>

  <div class="field">
    <%= form.label :indemniza_art64 %>
    <%= form.text_field :indemniza_art64 %>
  </div>

  <div class="field">
    <%= form.label :cesantias %>
    <%= form.text_field :cesantias %>
  </div>

  <div class="field">
    <%= form.label :inte_cesantias %>
    <%= form.text_field :inte_cesantias %>
  </div>

  <div class="field">
    <%= form.label :prima %>
    <%= form.text_field :prima %>
  </div>

  <div class="field">
    <%= form.label :total_prestaciones %>
    <%= form.text_field :total_prestaciones %>
  </div>
  
  
  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="field">
    <%= form.label :nombres %>
    <%= form.text_area :nombres %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_area :correo %>
  </div>

  <div class="field">
  <%= form.label :Fecha_creación %>
  <%= form.text_area :created_at %>
 </div>
  

  <div class="actions">
    <%= form.submit %>
    </div>
    </div>
  <% end %>
    </div>
    </div>