<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha ini:</strong>
  <%= @liquidacion.fecha_ini %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @liquidacion.fecha_fin %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @liquidacion.cargo %>
</p>

<p>
  <strong>Contrato:</strong>
  <%= @liquidacion.contrato %>
</p>

<p>
  <strong>Termina:</strong>
  <%= @liquidacion.termina %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @liquidacion.salario %>
</p>

<p>
  <strong>Auxilio:</strong>
  <%= @liquidacion.auxilio %>
</p>

<p>
  <strong>Horas ex diur:</strong>
  <%= @liquidacion.horas_ex_diur %>
</p>

<p>
  <strong>Horas ex noc:</strong>
  <%= @liquidacion.horas_ex_noc %>
</p>

<p>
  <strong>Recargos noc:</strong>
  <%= @liquidacion.recargos_noc %>
</p>

<p>
  <strong>Domi ordinarios:</strong>
  <%= @liquidacion.domi_ordinarios %>
</p>

<p>
  <strong>Horas ex domi diur:</strong>
  <%= @liquidacion.horas_ex_domi_diur %>
</p>

<p>
  <strong>Horas ex domi noc:</strong>
  <%= @liquidacion.horas_ex_domi_noc %>
</p>

<p>
  <strong>Otros:</strong>
  <%= @liquidacion.otros %>
</p>

<p>
  <strong>Concepto otros:</strong>
  <%= @liquidacion.concepto_otros %>
</p>

<p>
  <strong>Sueldo promedio:</strong>
  <%= @liquidacion.sueldo_promedio %>
</p>

<p>
  <strong>Prima extra:</strong>
  <%= @liquidacion.prima_extra %>
</p>

<p>
  <strong>Valor mes:</strong>
  <%= @liquidacion.valor_mes %>
</p>

<p>
  <strong>Valor día:</strong>
  <%= @liquidacion.valor_dia %>
</p>

<p>
  <strong>Valor hora:</strong>
  <%= @liquidacion.valor_hora %>
</p>

<p>
  <strong>Recargo nocturno:</strong>
  <%= @liquidacion.recargo_nocturno %>
</p>

<p>
  <strong>Hora extra diurna:</strong>
  <%= @liquidacion.hora_extra_diurna %>
</p>

<p>
  <strong>Hora extra nocturna:</strong>
  <%= @liquidacion.hora_extra_nocturna %>
</p>

<p>
  <strong>Hora ordinaria dominical:</strong>
  <%= @liquidacion.hora_ordinaria_dominical %>
</p>

<p>
  <strong>Hora extra dominical diurna:</strong>
  <%= @liquidacion.hora_extra_dominical_diurna %>
</p>

<p>
  <strong>Hora extra dominical nocturna:</strong>
  <%= @liquidacion.hora_extra_dominical_nocturna %>
</p>

<p>
  <strong>Fecha ini vacas:</strong>
  <%= @liquidacion.fecha_ini_vacas %>
</p>

<p>
  <strong>Fecha fin vacas:</strong>
  <%= @liquidacion.fecha_fin_vacas %>
</p>

<p>
  <strong>Vacaciones:</strong>
  <%= @liquidacion.vacaciones %>
</p>

<p>
  <strong>Indemniza art65:</strong>
  <%= @liquidacion.indemniza_art65 %>
</p>

<p>
  <strong>Indemniza art64:</strong>
  <%= @liquidacion.indemniza_art64 %>
</p>

<p>
  <strong>Calc art64:</strong>
  <%= @liquidacion.calc_art64 %>
</p>

<p>
  <strong>Check65:</strong>
  <%= @liquidacion.check65 %>
</p>

<p>
  <strong>Fecha ini pactada:</strong>
  <%= @liquidacion.fecha_ini_pactada %>
</p>

<p>
  <strong>Fecha fin pactada:</strong>
  <%= @liquidacion.fecha_fin_pactada %>
</p>

<p>
  <strong>Num pro:</strong>
  <%= @liquidacion.num_pro %>
</p>

<p>
  <strong>Fecha ini pro1:</strong>
  <%= @liquidacion.fecha_ini_pro1 %>
</p>

<p>
  <strong>Date:</strong>
  <%= @liquidacion.date %>
</p>

<p>
  <strong>Fecha ini pro2:</strong>
  <%= @liquidacion.fecha_ini_pro2 %>
</p>

<p>
  <strong>Fecha ini pro3:</strong>
  <%= @liquidacion.fecha_ini_pro3 %>
</p>

<p>
  <strong>Fecha ini pro4:</strong>
  <%= @liquidacion.fecha_ini_pro4 %>
</p>

<p>
  <strong>Fecha fin pro1:</strong>
  <%= @liquidacion.fecha_fin_pro1 %>
</p>

<p>
  <strong>Fecha fin pro2:</strong>
  <%= @liquidacion.fecha_fin_pro2 %>
</p>

<p>
  <strong>Fecha fin pro3:</strong>
  <%= @liquidacion.fecha_fin_pro3 %>
</p>

<p>
  <strong>Fecha fin pro4:</strong>
  <%= @liquidacion.fecha_fin_pro4 %>
</p>

<p>
  <strong>Fecha ini presta:</strong>
  <%= @liquidacion.fecha_ini_presta %>
</p>

<p>
  <strong>Fecha fin presta:</strong>
  <%= @liquidacion.fecha_fin_presta %>
</p>

<p>
  <strong>Cesantias:</strong>
  <%= @liquidacion.cesantias %>
</p>

<p>
  <strong>Inte cesantias:</strong>
  <%= @liquidacion.inte_cesantias %>
</p>

<p>
  <strong>Prima:</strong>
  <%= @liquidacion.prima %>
</p>

<p>
  <strong>Total prestaciones:</strong>
  <%= @liquidacion.total_prestaciones %>
</p>

<p>
  <strong>Sueldo pendiente:</strong>
  <%= @liquidacion.sueldo_pendiente %>
</p>

<p>
  <strong>Aux pendiente:</strong>
  <%= @liquidacion.aux_pendiente %>
</p>

<p>
  <strong>Reajuste pendiente:</strong>
  <%= @liquidacion.reajuste_pendiente %>
</p>

<p>
  <strong>Otros pendiente:</strong>
  <%= @liquidacion.otros_pendiente %>
</p>

<p>
  <strong>Total pendiente:</strong>
  <%= @liquidacion.total_pendiente %>
</p>

<p>
  <strong>Total :</strong>
  <%= @liquidacion.total %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @liquidacion.nombres %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @liquidacion.correo %>
</p>

<p>
  <strong>Fecha creación:</strong>
  <%= @liquidacion.created_at %>
</p>


<%= link_to 'Edit', edit_liquidacion_path(@liquidacion) %> |
<%= link_to 'Back', liquidacions_path %>
